body {
    margin: 0;
}

main {
    background-image: url(images/Tesla-model-3-interior.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

section section:nth-child(3) {
    width: 2em;
    height: 2em;
    top: 10em;
    left: 10em;
    position: absolute;
    background-color: #4a3000;
    animation-duration: 2s;
    animation-name: none;
    animation-iteration-count: infinite;
}

section section:nth-child(4) {
    width: 2em;
    height: 2em;
    top: 10em;
    right: 10em;
    position: absolute;
    background-color: #4a3000;
    animation-duration: 2s;
    animation-name: none;
    animation-iteration-count: infinite;
}

@keyframes knipper {
    0% {
        background-color: #4a3000;
        box-shadow: 0px 0px 0px 0px #fed893;
    }
    49% {
        background-color: #4a3000;
        box-shadow: 0px 0px 0px 0px #fed893;
    }
    50% {
        background-color: #ffa500;
        box-shadow: 0px 0px 40px 20px #fed893;
    }

    100% {
        background-color: #ffa500;
        box-shadow: 0px 0px 40px 20px #fed893;
    }
}

input[type="checkbox"]:checked ~ section {
    animation-name: knipper;
}


section > section:nth-child(6) > div {
    width: 200px;
    height: 200px;
    background-color: #06394c;
    border-radius: 50%;
    border: 5px solid;
    border-radius: 50%;
    background: linear-gradient(#06394c, #06394c) padding-box, linear-gradient(340deg, #031c25, #17556c) border-box;
    border: 4px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

section section:nth-child(6) > div:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #06394c;
    border-radius: 50%;
}

section section:nth-child(6) > div:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 150px;
    background-color: #06394c;
    bottom: -10px;
    rotate: -20deg;
}

section > section:nth-child(6) > div > div:nth-child(1) {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    z-index: 1;
}

section > section:nth-child(6) > div > div:nth-child(2) {
    position: absolute;
    width: 100px;
    height: 9px;
    background-color: #ff6400;
    border-radius: 70% 10% 10% 70%;
    transform-origin: right center;
    rotate: 1deg;
    left: 50px;

    /* animation-duration: 2s; */
    /* animation-name: rpm; */
    /* animation-iteration-count: infinite; */

    transition: 1.5s ease-in-out .1s;;
}

/* @keyframes rpm {
    0% {
        rotate: 1deg;
    }

    50% {
        rotate: 117deg;
    }

    100% {
        rotate: 1deg;
    }
} */

section > section > div:nth-child(2) {
    width: 300px;
    height: 300px;
    margin: 0em -4em;
    z-index: 2;
}

section section:nth-child(6) {
    display: flex;
    flex-direction: row;
    align-items: end;
}

section section:nth-child(6) > div:nth-child(2) {
    background: repeating-conic-gradient(from 0deg, #06394c 0deg 20deg, yellow 20deg 21deg);;
    border: none;
    overflow: hidden;
} 

html:has(button:active) section > section:nth-child(6) > div > div:nth-child(2) {
    rotate: 117deg;
}

button {
    width: 100px;
    height: 170px;
    background-color: gray;
    position: relative;
    mix-blend-mode: exclusion;
    left: 15%;
    transform:perspective(20em) rotateX(0deg);
    transition: .5s ease-in-out .01s;
    transform-origin: center bottom;
}

button:active {
    transform:perspective(20em) rotateX(15deg);
    transition: .5s ease-in-out .01s;
}

button div {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2;
    border-radius: 50%;
    background: #000;
}

button div:nth-child(2) {
    top: 10%;
    left: auto;
    right: 10%;
}

button div:nth-child(3) {
    top: calc(50% - 15px);
    left: 10%;
    right: auto;
}

button div:nth-child(4) {
    top: calc(50% - 15px);
    left: auto;
    right: 10%;
}

button div:nth-child(5) {
    top: auto;
    left: 10%;
    right: auto;
    bottom: 10%;
}

button div:nth-child(6) {
    top: auto;
    left: auto;
    right: 10%;
    bottom: 10%;
}